# [`SELECT` Statement](https://dev.mysql.com/doc/refman/8.0/en/select.html)


<details>
<summary>Reference</summary>

[`SELECT` Statement](https://dev.mysql.com/doc/refman/8.0/en/select.html)

</details>

---

```SQL

SELECT
    [ALL | DISTINCT | DISTINCTROW ]
    [HIGH_PRIORITY]
    [STRAIGHT_JOIN]
    [SQL_SMALL_RESULT] [SQL_BIG_RESULT] [SQL_BUFFER_RESULT]
    [SQL_NO_CACHE] [SQL_CALC_FOUND_ROWS]
    select_expr [, select_expr] ...
    [into_option]
    [FROM table_references
      [PARTITION partition_list]]
    [WHERE where_condition]
    [GROUP BY {col_name | expr | position}, ... [WITH ROLLUP]]
    [HAVING where_condition]
    [WINDOW window_name AS (window_spec)
        [, window_name AS (window_spec)] ...]
    [ORDER BY {col_name | expr | position}
      [ASC | DESC], ... [WITH ROLLUP]]
    [LIMIT {[offset,] row_count | row_count OFFSET offset}]
    [into_option]
    [FOR {UPDATE | SHARE}
        [OF tbl_name [, tbl_name] ...]
        [NOWAIT | SKIP LOCKED]
      | LOCK IN SHARE MODE]
    [into_option]

into_option: {
    INTO OUTFILE 'file_name'
        [CHARACTER SET charset_name]
        export_options
  | INTO DUMPFILE 'file_name'
  | INTO var_name [, var_name] ...
}

```

## `FROM` Clause

테이블에서 일부 레코드를 선택하는 데 사용됩니다.

<details>

<summary>Reference</summary>

https://www.javatpoint.com/mysql-from

</details>

---

## `JOIN` Clause

`JOIN` 절은 둘 이상의 테이블 사이의 관련 열을 기준으로 행을 결합하는 데 사용됩니다.

<details>
<summary>Reference</summary>

[`JOIN` Clause](https://dev.mysql.com/doc/refman/8.0/en/join.html)

https://www.w3schools.com/sql/sql_join.asp

https://hongong.hanbit.co.kr/sql-%EA%B8%B0%EB%B3%B8-%EB%AC%B8%EB%B2%95-joininner-outer-cross-self-join/

[https://doh-an.tistory.com/30](https://doh-an.tistory.com/30)

</details>

---

![](./img/FROM1.png)

### Inner Join

- `JOIN` 또는 `INNER JOIN`을 입력한다.

In [1]:
SELECT <column> 
FROM <table> 
    JOIN <table> 
        ON <table.column> = <table.column>

SyntaxError: invalid syntax (1148695700.py, line 1)