# [MySQL](https://www.mysql.com/)

# MySQL NULL 처리
[[DB] MySQL NULL 처리(IFNULL, CASE, COALESCE)](https://velog.io/@gillog/DB-MySQL-NULL-처리IFNULL-CASE-COALESCE)

## `IFNULL()`

In [ ]:
SELECT IFNULL(<Column>, '<대체값>')
FROM 테이블명

## `COALESCE(NULL, 'A', 'B')`

In [ ]:
SELECT COALESCE(<Column>, '<대체값>')
FROM 테이블명

## `DATE_FORMAT(<Column>, '<Format>')`

# `DISTINCT`
- DISTINCT : 별개의, 

<details>
<summary>Reference</summary>

[https://dev.mysql.com/doc/refman/8.0/en/distinct-optimization.html](https://dev.mysql.com/doc/refman/8.0/en/distinct-optimization.html)

</details>

In [ ]:
SELECT DISTINCT <Column> FROM <Table>

# `GROUP BY`

<details>
<summary>Reference</summary>

[https://en.wikipedia.org/wiki/Group_by_(SQL)](https://en.wikipedia.org/wiki/Group_by_(SQL))

</details>

# `HAVING` Clause

The HAVING clause was added to SQL because the WHERE keyword cannot be used with aggregate functions.

<details>
<summary>Reference</summary>

[https://www.w3schools.com/sql/sql_having.asp](https://www.w3schools.com/sql/sql_having.asp)

</details>

# MySQL 접속 명령어

https://code-factory.tistory.com/44


● 로콜 서버에 접속

명령어 : mysql -u 계정명 -p

예) mysql -u root -p



● 원격지에 접속

명령어 : mysql -h 호스트주소(ip) -P 포트번호 -u 계정명 -p

이때 대소문자를 구분해서 기입해 줘야 합니다.

예) mysql -h 192.168.0.33 -P 13306 -u root -p



● 원격지의 특정 database에 접속

명령어 : mysql -h 호스트주소(ip) -P 포트번호 -u 계정명 -p 디비 이름

예) mysql -h 192.168.0.33 -P 13306 -u root -p userDB

# mysql user확인 및 추가

https://velog.io/@taelee/mysql-user%ED%99%95%EC%9D%B8-%EB%B0%8F-%EC%B6%94%EA%B0%80

In [ ]:
create database Olist;
use Olist;

select database();

select default_character_set_name FROM information_schema.SCHEMATA WHERE schema_name = "Olist";
ALTER DATABASE Olist DEFAULT CHARACTER SET utf8;

In [ ]:
CREATE TABLE olist_customers_dataset (
    customer_id VARCHAR(255),
    customer_unique_id VARCHAR(255),
    customer_zip_code_prefix VARCHAR(10),
    customer_city VARCHAR(10),
    customer_state VARCHAR(5)
);

In [ ]:
select default_character_set_name FROM information_schema.SCHEMATA WHERE schema_name = "Olist";

In [ ]:
LOAD DATA LOCAL INFILE '/Brazilian E-Commerce Public Dataset by Olist/olist_customers_dataset.csv' 
INTO TABLE olist_customers_dataset

FIELDS 
	TERMINATED BY ',' 
	ENCLOSED BY '"'

LINES 
	TERMINATED BY '\n'

IGNORE 1 ROWS;