# import & var

In [2]:
import numpy as np
import pandas as pd

s_exam = pd.Series([10, 125, 1350], index=["idx1", "idx2", "idx3"])

list_val = [[10, 12, 13], [200, 220, 235], [3000, 3250, 3355]]
list_col = ["col1", "col2", "col3"]
df_exam = pd.DataFrame(list_val, columns=list_col)

s = s_exam.copy()
df = df_exam.copy()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df.head())

   col1  col2  col3
0    10    12    13
1   200   220   235
2  3000  3250  3355

In [3]:
file = "https://raw.githubusercontent.com/amanaroratc/hello-world/master/testdf.csv"
df = pd.read_csv(file)
df

          category                id        date   rank  ratings
0       Aftershave  ASCDBNYZ4JMSH42B  2021-10-01   61.0    462.0
1       Aftershave  ASCDBNYZ4JMSH42B  2021-10-02   69.0    462.0
2       Aftershave  ASCDBNYZ4JMSH42B  2021-10-05   89.0    463.0
3       Aftershave  ASCE3DZK2TD7G4DN  2021-10-01  309.0      3.0
4       Aftershave  ASCE3DZK2TD7G4DN  2021-10-02  319.0      3.0
...            ...               ...         ...    ...      ...
1985  Shaving Foam  SHFGYM3WAEWMEKTF  2021-10-01  174.0      2.0
1986  Shaving Foam  SHFGYM3WAEWMEKTF  2021-10-02  194.0      2.0
1987  Shaving Foam  SHFGYM3WAEWMEKTF  2021-10-03  187.0      2.0
1988  Shaving Foam  SHFGYNJAFHGTAHEP  2021-10-01  142.0      5.0
1989  Shaving Foam  SHFGYNJAFHGTAHEP  2021-10-03  117.0      5.0

[1990 rows x 5 columns]

In [4]:
from sklearn.preprocessing import MinMaxScaler

cols=['rank','ratings']

def f(x):
    scaler1=MinMaxScaler()
    x[['rank_norm_mm', 'ratings_norm_mm']] = scaler1.fit_transform(x[cols])
    return x

df = df.groupby(['category', 'date']).apply(f)
df

,category,id,date,rank,ratings,rank_norm_mm,ratings_norm_mm
0,Aftershave,ASCDBNYZ4JMSH42B,2021-10-01,61.0,462.0,0.149746,0.049655
1,Aftershave,ASCDBNYZ4JMSH42B,2021-10-02,69.0,462.0,0.171355,0.049736
2,Aftershave,ASCDBNYZ4JMSH42B,2021-10-05,89.0,463.0,0.223650,0.049709
3,Aftershave,ASCE3DZK2TD7G4DN,2021-10-01,309.0,3.0,0.779188,0.000108
4,Aftershave,ASCE3DZK2TD7G4DN,2021-10-02,319.0,3.0,0.810742,0.000216
...,...,...,...,...,...,...,...
1985,Shaving Foam,SHFGYM3WAEWMEKTF,2021-10-01,174.0,2.0,0.527439,0.000020
1986,Shaving Foam,SHFGYM3WAEWMEKTF,2021-10-02,194.0,2.0,0.593846,0.000020
1987,Shaving Foam,SHFGYM3WAEWMEKTF,2021-10-03,187.0,2.0,0.564417,0.000020
1988,Shaving Foam,SHFGYNJAFHGTAHEP,2021-10-01,142.0,5.0,0.429878,0.000081
1989,Shaving Foam,SHFGYNJAFHGTAHEP,2021-10-03,117.0,5.0,0.349693,0.000081

# Appendix
## Reference
  - pandas
    - [pandas API reference](https://pandas.pydata.org/docs/reference/)
  - wikipedia
  - namuwiki
  - else