# Indexing

# import & var

In [15]:
import numpy as np
import pandas as pd

s_exam = pd.Series([10, 125, 1350], index=["idx1", "idx2", "idx3"])

list_val = [[10, 12, 13], [200, 220, 235], [3000, 3250, 3355]]
list_col = ["col1", "col2", "col3"]
df_exam = pd.DataFrame(list_val, columns=list_col)

s = s_exam.copy()
df = df_exam.copy()

# Attribute access : pandas.DataFrame.colName
- 주의사항이 많아서 불편할 것 같음.

In [18]:
df = df_exam.copy()
df.col1

0      10
1     200
2    3000
Name: col1, dtype: int64

# pandas.DataFrame[]
df[col][idx]

In [19]:
dates = pd.date_range("1/1/2000", periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2000-01-01  0.298708 -0.703108 -0.124311  0.070086
2000-01-02  0.172526  1.475291 -0.854990 -0.408545
2000-01-03 -1.659787  0.024408 -1.359162 -1.700377
2000-01-04 -0.089677 -0.278831 -1.011085 -0.143408
2000-01-05  1.356759 -0.030670 -1.800008 -0.672404
2000-01-06  0.531118  1.794855  0.263567 -0.554222
2000-01-07 -0.241089 -1.346411 -0.178418 -1.160032
2000-01-08  1.153617  0.166814  0.493990 -1.252206

In [20]:
df['A']

2000-01-01    0.298708
2000-01-02    0.172526
2000-01-03   -1.659787
2000-01-04   -0.089677
2000-01-05    1.356759
2000-01-06    0.531118
2000-01-07   -0.241089
2000-01-08    1.153617
Freq: D, Name: A, dtype: float64

In [21]:
df['A']["2000-01-06"]

0.5311178167271899

In [22]:
df['A'][dates[5]]

0.5311178167271899

In [23]:
df['A'][5]

0.5311178167271899

# [pandas.DataFrame.loc[]](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)

# [pandas.DataFrame.iloc[]](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

# Appendix
## Reference
  - pandas
    - [pandas API reference](https://pandas.pydata.org/docs/reference/)
    - [Indexing and selecting data](https://pandas.pydata.org/docs/user_guide/indexing.html)
  - wikipedia
  - namuwiki
  - else
    - [파이썬 DataFrame 인덱싱 하는 방법(df[ ], df.loc[ ], df.iloc[ ])](https://bearwoong.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-DataFrame-%EC%9D%B8%EB%8D%B1%EC%8B%B1-%ED%95%98%EB%8A%94-%EB%B0%A9%EB%B2%95df-dfloc-dfiloc)